<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Incluir Comida!!!</title>
</head>
<body>
    <h1>INCLUINDO COMID</h1>

       <form action="/incluir">
       Nome da Comida : <input type="text" name="nome">
       Categoria: <input type="text" name="categoria">
       Vencimento:<input type="text" name="vencimento">
       <input type="submit" value="Inserir">
       </form>

<!--Para incluir uma comida, deve criar um link na pagina listar para redirecionar a um cadastro de comidas-->
<a href="/abrir_form_incluir">Incluir</a>

</body>
</html>